* {
  margin: 0;
  padding: 0;
}

/*Scroll*/

html{
  scroll-behavior: smooth;
}

.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #335cb4;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
  border-radius: 30px;
}

.gotopbtn:hover {
  background-color: rgb(35, 57, 131);
  transition: 1s;
  color: rgb(0, 255, 255);
  border: 1px black;
}


img {
  display: block;
  max-width: 100%;
}

li {
  list-style: none;
}

body {
  font-family: "Source Code Pro", monospace;
  background: url("../img/bg.jpg") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  align-items: center;
  justify-items: center;
  height: 100vh;
  color: #636363;
}

.container {
  padding: 0 16px;
}

.title {
  font-size: 36px;
  font-weight: normal;
}

.clique {
  padding-top: 10px;
}

.profile {
  max-width: 452px;
  box-sizing: border-box;
  margin: 0 auto;
  color: black;
}

.profile a {
  font-size: 30px;
  padding: 2px 10px;
  border-radius: 6px;
  color: rgb(0, 173, 173);
}

.profile a:hover {
  background-color: rgb(180, 180, 180);
  transition: 1s;
}

.profile h3 {
  padding-bottom: 15px;
  color: black;
}

.box {
  background: #eee;
  padding: 4rem;
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
  border-radius: 50px;
  text-align: center;
  margin-top: 4rem;
}

.profile-pic {
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}

.profile span {
  font-size: 24px;
}

.profile p {
  font-size: 18px;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.redes-sociais {
  display: flex;
  justify-content: center;
}

.redes-sociais li {
  margin-right: 1rem;
}

.portfolio {
  max-width: 886px;
  box-sizing: border-box;
}

.portfolio i {
  font-size: 40px;
  color: rgb(2, 2, 156);
  padding: 15px;
}

.portfolio i:hover {
  cursor: pointer;
  background-color: #d3d3d3;
  border-radius: 8px;
  transition-duration: 2s;
}

.portfolio #html {
  color:#F75600 ;
  font-size: 42px;
}


.portfolio #css {
  color: #2862E9;
}

.portfolio #js {
  color: #EFD81D;
}

.portfolio #bootstrap {
  color: #6832B0;
}

.portfolio #react {
  color: #5ED3F3;
}


.portfolio ul {
  margin-top: 3rem;
}

.portfolio li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 1rem;
  color: #3fdd00;
}


.portfolio li + li {
  margin-top: 4rem;
}


.portfolio img {
  border-radius: 10px;
}

.portfolio .ver-projeto {
   text-decoration: none;
    font-weight: bold;
    color: #616161;
    background-color: #00ff73;
    padding: 4px 4px;
    border-radius: 4px;
    width: 120px;
    height: 25px;
    text-align: center;
}

.portfolio .ver-projeto:hover {
    text-decoration: none;
    color: #ffffff;
    padding: 7px 7px;
    transition-duration: 0.5s;
    border-radius: 5px;

}
.portfolio .cordel-milton {
   text-decoration: none;
    font-weight: bold;
    color: #616161;
    background-color: #ffc400;
    padding: 4px 4px;
    border-radius: 4px;
    width: 120px;
    height: 25px;
    text-align: center;
}

.portfolio .cordel-milton:hover {
  text-decoration: none;
    color: #ffffff;
    padding: 7px 7px;
    transition-duration: 0.5s;
    border-radius: 5px;

}


.portfolio h2 {
  font-weight: normal;
  margin-bottom: 1rem;
  color: rgb(54, 54, 54);
}

.portfolio .milton-duarte {
  color: #ffc400;
}

.portfolio .spotify {
  color: #00cf56;
}

.copyright {
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 16px black;
  margin-top: 10vh;
  padding-bottom: 10vh;
  text-align: center;
}

.portfolio, .area-1, .area-2, .area-3 {
  visibility: hidden;
}


@media (max-width: 600px) {
  .box {
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 30px;
  }
  .box:first-child {
    padding: 3rem;
  }
  .portfolio ul {
    margin-top: 1rem;
  }
  .portfolio li {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  .portfolio li div {
    max-width: 448px;
  }

  .copyright {
    font-size: 18px;
    color: #606060;
    text-shadow: none;
    margin: 0;
    padding: 4rem 0;
  }
}

